{% extends "frontend/base.html.twig" %}
{% block body %}
    <h2 class="centered">{{ 'heavy.wedding.marryservice'| trans }}</h2>
    <hr class="star-light">

    <section class="section-wedding">
        <div class="container-fluid">
            <div id="well" class="wedding">
                <div class="well centered bloc-wedding">
                    <h3>{{ 'heavy.wedding.marry'| trans }}</h3>
                </div>
                <br>
                <div id="my_carousel" class="carousel slide" data-ride="carousel">
                    <!-- Bulles -->
                    <ol class="carousel-indicators">
                        <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#my_carousel" data-slide-to="1"></li>
                        <li data-target="#my_carousel" data-slide-to="2"></li>
                        <li data-target="#my_carousel" data-slide-to="3"></li>
                        <li data-target="#my_carousel" data-slide-to="4"></li>
                    </ol>
                    <!-- Slides -->
                    <div class="carousel-inner">
                        <!-- Page 1 -->
                        <div class="item active">
                            <div class="carousel-page">
                                <div id="price" class="col-md-4 col-sm-2 col-xs-12 centered">
                                    <div class="panel panel-pricing">
                                        <div class="panel-heading panel-wedding">
                                            <h3>Infinti FX S</h3>
                                        </div><!--panel-heading close-->
                                        <div class="panel-body centered">
                                            <p class="p-title">Subscription Duration</p><!--p-title close-->
                                            <p class="p-time">2 days - 30 Mins</p><!--p-time close-->
                                        </div><!--panel-body centered close-->
                                        <div class="panel-body centered">
                                            <p class="p-price-cortege">€ 4699 </p><!--p-price-cortege close-->
                                            <p class="p-tax">All inclusive</p><!--p-tax close-->
                                        </div><!--panel-body centered close-->
                                        <div class="panel-footer">
                                            <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                        </div>
                                    </div><!--panel panel-pricing close-->
                                </div><!--col-md-4 col-sm-4 col-xs-12 centered close-->
                            </div>
                        </div>
                        <!-- Page 2 -->
                        <div class="item">
                            <div class="carousel-page">
                                <div id="price" class="col-md-4 col-sm-2 col-xs-12 centered">
                                    <div class="panel panel-pricing">
                                        <div class="panel-heading">
                                            <h3>Jaguar XJ8 de Collection</h3>
                                        </div><!--panel-heading close-->
                                        <div class="panel-body centered">
                                            <p class="p-title">Subscription Duration</p><!--p-title close-->
                                            <p class="p-time">7 days - 90 Mins</p><!--p-time close-->
                                        </div><!--panel-body centered close-->
                                        <div class="panel-body centered">
                                            <p class="p-price-cortege">€ 4799 </p><!--p-price-cortege close-->
                                            <p class="p-tax">All inclusive</p><!--p-tax close-->
                                        </div><!--panel-body centered close-->
                                        <div class="panel-footer">
                                            <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                        </div>
                                    </div><!--panel panel-pricing close-->
                                </div><!--col-md-4 col-sm-4 col-xs-12 centered close-->
                            </div>
                            <div class="carousel-caption">Page 2 de présentation</div>
                        </div>
                        <!-- Page 3 -->
                        <div class="item">
                            <div class="carousel-page">
                                <div id="price" class="col-md-4 col-sm-2 col-xs-12 centered">
                                    <div class="panel panel-pricing">
                                        <div class="panel-heading">
                                            <h3>Mercedes Classe S500</h3>
                                        </div><!--panel-heading close-->
                                        <div class="panel-body centered">
                                            <p class="p-title">Subscription Duration</p><!--p-title close-->
                                            <p class="p-time">30 days - 250 Mins</p><!--p-time close-->
                                        </div><!--panel-body centered close-->
                                        <div class="panel-body centered">
                                            <p class="p-price-cortege">€ 4899 </p><!--p-price-cortege close-->
                                            <p class="p-tax">All inclusive</p><!--p-tax close-->
                                        </div><!--panel-body centered close-->
                                        <div class="panel-footer">
                                            <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                        </div>
                                    </div><!--panel panel-pricing close-->
                                </div><!--col-md-4 col-sm-4 col-xs-12 centered close-->
                            </div>
                            <div class="carousel-caption">Page 3 de présentation</div>
                        </div>
                        <!-- Page 4 -->
                        <div class="item">
                            <div class="carousel-page">
                                <div id="price" class="col-md-4 col-sm-2 col-xs-12 centered">
                                    <div class="panel panel-pricing">
                                        <div class="panel-heading">
                                            <h3>Mercedes-Benz ML63 AMG</h3>
                                        </div><!--panel-heading close-->
                                        <div class="panel-body centered">
                                            <p class="p-title">Subscription Duration</p><!--p-title close-->
                                            <p class="p-time">30 days - 250 Mins</p><!--p-time close-->
                                        </div><!--panel-body centered close-->
                                        <div class="panel-body centered">
                                            <p class="p-price-cortege">€ 4999 </p><!--p-price-cortege close-->
                                            <p class="p-tax">All inclusive</p><!--p-tax close-->
                                        </div><!--panel-body centered close-->
                                        <div class="panel-footer">
                                            <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                        </div>
                                    </div><!--panel panel-pricing close-->
                                </div><!--col-md-4 col-sm-4 col-xs-12 centered close-->
                            </div>
                            <div class="carousel-caption">Page 4 de présentation</div>
                        </div>
                        <!-- Page 5 -->
                        <div class="item">
                            <div class="carousel-page">
                                <div id="price" class="col-md-4 col-sm-2 col-xs-12 centered">
                                    <div class="panel panel-pricing">
                                        <div class="panel-heading">
                                            <h3>Bentley Continental Flying Spur</h3>
                                        </div><!--panel-heading close-->
                                        <div class="panel-body centered">
                                            <p class="p-title">Subscription Duration</p><!--p-title close-->
                                            <p class="p-time">30 days - 250 Mins</p><!--p-time close-->
                                        </div><!--panel-body centered close-->
                                        <div class="panel-body centered">
                                            <p class="p-price-cortege">₦ 400.00 </p><!--p-price-cortege close-->
                                            <p class="p-tax">All inclusive</p><!--p-tax close-->
                                        </div><!--panel-body centered close-->
                                        <div class="panel-footer">
                                            <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                        </div>
                                    </div><!--panel panel-pricing close-->
                                </div><!--col-md-4 col-sm-4 col-xs-12 centered close-->
                            </div>
                            <div class="carousel-caption">Page 5 de présentation</div>
                        </div>
                    </div>
                    <!-- Contrôles -->
                    <a class="left carousel-control" href="#my_carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#my_carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <div class="row col-md-6">
                    <div id="subtitle" class="well well-wedding centered">
                        <h3>{{ 'heavy.wedding.forfaitday'| trans }}</h3>
                        <div id="price" class="col-md-4 col-sm-2 col-xs-12 centered">
                            <div class="panel panel-pricing">
                                <div class="panel-heading panel-wedding">
                                    <h3>Porsche Cayenne Noir</h3>
                                </div><!--panel-heading close-->
                                <div class="panel-body centered">
                                    <p class="p-title">Subscription Duration</p><!--p-title close-->
                                    <p class="p-time">2 days - 30 Mins</p><!--p-time close-->
                                </div><!--panel-body centered close-->
                                <div class="panel-body centered">
                                    <p class="p-price-cortege">₦ 50.00 </p><!--p-price-cortege close-->
                                    <p class="p-tax">All inclusive</p><!--p-tax close-->
                                </div><!--panel-body centered close-->
                                <div class="panel-footer">
                                    <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                </div>
                            </div><!--panel panel-pricing close-->
                        </div><!--col-md-4 col-sm-4 col-xs-12 centered close-->
                        <div id="price" class="col-md-4 col-sm-2 col-xs-12 centered">
                            <div class="panel panel-pricing">
                                <div class="panel-heading">
                                    <h3>Porsche Cayenne Blanc</h3>
                                </div><!--panel-heading close-->
                                <div class="panel-body centered">
                                    <p class="p-title">Subscription Duration</p><!--p-title close-->
                                    <p class="p-time">7 days - 90 Mins</p><!--p-time close-->
                                </div><!--panel-body centered close-->
                                <div class="panel-body centered">
                                    <p class="p-price-cortege">₦ 150.00 </p><!--p-price-cortege close-->
                                    <p class="p-tax">All inclusive</p><!--p-tax close-->
                                </div><!--panel-body centered close-->
                                <div class="panel-footer">
                                    <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                </div>
                            </div><!--panel panel-pricing close-->
                        </div><!--col-md-4 col-sm-4 col-xs-12 centered close-->


                        <div id="price" class="col-md-4 col-sm-2 col-xs-12 centered">
                            <div class="panel panel-pricing">
                                <div class="panel-heading">
                                    <h3>Mercedes-Benz ML63 AMG</h3>
                                </div><!--panel-heading close-->
                                <div class="panel-body centered">
                                    <p class="p-title">Subscription Duration</p><!--p-title close-->
                                    <p class="p-time">30 days - 250 Mins</p><!--p-time close-->
                                </div><!--panel-body centered close-->
                                <div class="panel-body centered">
                                    <p class="p-price-cortege">₦ 400.00 </p><!--p-price-cortege close-->
                                    <p class="p-tax">All inclusive</p><!--p-tax close-->
                                </div><!--panel-body centered close-->
                                <div class="panel-footer">
                                    <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                </div>
                            </div><!--panel panel-pricing close-->
                        </div><!--col-md-4 col-sm-4 col-xs-12 centered close-->
                    </div>
                </div>
                <div class="row">
                    <div class="row col-md-6 line">
                        <div id="subtitle" class="well well-wedding centered">
                            <h3>{{ 'heavy.wedding.forfaithome'| trans }}</h3>
                            <div id="price" class="col-md-4 col-sm-2 col-xs-12 centered">
                                <div class="panel panel-pricing">
                                    <div class="panel-heading">
                                        <h3>Porsche Cayenne Noir</h3>
                                    </div><!--panel-heading close-->
                                    <div class="panel-body centered">
                                        <p class="p-title">Subscription Duration</p><!--p-title close-->
                                        <p class="p-time">2 days - 30 Mins</p><!--p-time close-->
                                    </div><!--panel-body centered close-->
                                    <div class="panel-body centered">
                                        <p class="p-price-cortege">₦ 50.00 </p><!--p-price-cortege close-->
                                        <p class="p-tax">All inclusive</p><!--p-tax close-->
                                    </div><!--panel-body centered close-->
                                    <div class="panel-footer">
                                        <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                    </div>
                                </div><!--panel panel-pricing close-->
                            </div><!--col-md-4 col-sm-4 col-xs-12 centered close-->
                            <div id="price" class="col-md-4 col-sm-2 col-xs-12 centered">
                                <div class="panel panel-pricing">
                                    <div class="panel-heading">
                                        <i class="fa fa-windows"></i>
                                        <h3>Porsche Cayenne Blanc</h3>
                                    </div><!--panel-heading close-->
                                    <div class="panel-body centered">
                                        <p class="p-title">Subscription Duration</p><!--p-title close-->
                                        <p class="p-time">7 days - 90 Mins</p><!--p-time close-->
                                    </div><!--panel-body centered close-->
                                    <div class="panel-body centered">
                                        <p class="p-price-cortege">₦ 150.00 </p><!--p-price-cortege close-->
                                        <p class="p-tax">All inclusive</p><!--p-tax close-->
                                    </div><!--panel-body centered close-->
                                    <div class="panel-footer">
                                        <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                    </div>
                                </div><!--panel panel-pricing close-->
                            </div><!--col-md-4 col-sm-4 col-xs-12 centered close-->
                            <div id="price" class="col-md-4 col-sm-2 col-xs-12 centered">
                                <div class="panel panel-pricing">
                                    <div class="panel-heading">
                                        <h3>Mercedes-Benz ML63 AMG
                                        </h3>
                                    </div><!--panel-heading close-->
                                    <div class="panel-body centered">
                                        <p class="p-title">Subscription Duration</p><!--p-title close-->
                                        <p class="p-time">30 days - 250 Mins</p><!--p-time close-->
                                    </div><!--panel-body centered close-->
                                    <div class="panel-body centered">
                                        <p class="p-price-cortege">₦ 400.00 </p><!--p-price-cortege close-->
                                        <p class="p-tax">All inclusive</p><!--p-tax close-->
                                    </div><!--panel-body centered close-->
                                    <div class="panel-footer">
                                        <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                    </div>
                                </div><!--panel panel-pricing close-->
                            </div><!--col-md-4 col-sm-4 col-xs-12 centered close-->
                        </div>
                    </div>
                </div><!--row close-->
            </div>
        </div><!--container close-->
    </section><!--section close-->
    <section>
        <div class="container-fluid">
            <div id="well" class="wedding">
                <div class="well centered">
                    <h3>{{ 'heavy.wedding.forfaitcortege'| trans }}</h3>
                </div>
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{ 'heavy.wedding.cortege_6'|trans|raw }}</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="container">
                                <div class="well text-center">
                                    {{ form_start(form) }}
                                    <div class="col-md-12">
                                        <label class="col-md-2 control-label" for="location">Agence de départ</label>
                                        <div class="col-md-3">
                                            <div class='input-group'>
                                                {{ form_widget(form.agency, { 'attr': {'class': 'form-control input-md'} }) }}
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-map-marker"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <label class="col-md-2 control-label" for="location">Agence de retour</label>
                                        <div class="col-md-3">
                                            <div class='input-group'>
                                                {{ form_widget(form.agencyRetour, { 'attr': {'class': 'form-control input-md'} } ) }}
                                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="col-md-12">
                                        <label class="col-md-2 control-label" for="location">Départ le :</label>
                                        <div class="col-md-3">
                                            <div class='input-group date' id='js-datepicker1'>
                                                {{ form_widget(form.startDate) }}
                                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                            </div>
                                        </div>
                                        <label class="col-md-2 control-label" for="location">Retour le :</label>
                                        <div class="col-md-3">
                                            <div class='input-group date' id='js-datepicker2'>
                                                {{ form_widget(form.endDate) }}
                                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>

                                {{ include ('frontend/car/list__cars.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-6">
                    <div id="subtitle" class="well well-wedding centered">
                        <h3>{{ 'heavy.wedding.forfaitone'| trans }}</h3>
                        <div id="price-cortege" class="col-md-6 col-sm-6 col-xs-12 centered">
                            <div class="panel panel-pricing">
                                <div class="panel-heading">
                                    <h3>Porsche Cayenne Blanc</h3>
                                    <h3>Mercedes-Benz ML63 AMG</h3>
                                    <h3>Mercedes-Benz ML63 AMG</h3>
                                    <br>
                                </div><!--panel-heading close-->
                                <div class="panel-body centered">
                                    <p class="p-title">Subscription Duration</p><!--p-title close-->
                                    <p class="p-time">7 days - 90 Mins</p><!--p-time close-->
                                </div><!--panel-body centered close-->
                                <div class="panel-body centered">
                                    <p class="p-price-cortege">₦ 150.00 </p><!--p-price-cortege close-->
                                    <p class="p-tax">All inclusive</p><!--p-tax close-->
                                </div><!--panel-body centered close-->
                                <div class="panel-footer">
                                    <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                </div>
                            </div><!--panel panel-pricing close-->
                        </div><!--col-md-6 col-sm-6 col-xs-12 centered close-->
                    </div>
                </div>

                    <div class="row col-md-6 line">
                        <div id="subtitle" class="well well-wedding centered">
                            <h3> {{ 'heavy.wedding.forfaittwo'| trans }}</h3>
                            <div id="price-cortege" class="col-md-6 col-sm-6 col-xs-12 centered">
                                <div class="panel panel-pricing">
                                    <div class="panel-heading">
                                        <h3>Porsche Cayenne Blanc</h3>
                                        <h3>Mercedes-Benz ML63 AMG</h3>
                                        <h3>Mercedes-Benz ML63 AMG</h3>
                                        <br>
                                    </div><!--panel-heading close-->
                                    <div class="panel-body centered">
                                        <p class="p-title">Subscription Duration</p><!--p-title close-->
                                        <p class="p-time">7 days - 90 Mins</p><!--p-time close-->
                                    </div><!--panel-body centered close-->
                                    <div class="panel-body centered">
                                        <p class="p-price-cortege">₦ 150.00 </p><!--p-price-cortege close-->
                                        <p class="p-tax">All inclusive</p><!--p-tax close-->
                                    </div><!--panel-body centered close-->
                                    <div class="panel-footer">
                                        <a class="btn sub-btn" href="#">{{ 'heavy.wedding.reserve'| trans }}</a>
                                    </div>
                                </div><!--panel panel-pricing close-->
                            </div><!--col-md-6 col-sm-6 col-xs-12 centered close-->
                        </div>
                    </div>
            </div><!--container close-->
        </div>
{% endblock %}