{% extends "frontend/base.html.twig" %}
{% block body %}
    <h2 class="centered">{{ 'heavy.wedding.marryservice'| trans }}</h2>
    <hr class="star-light">

    <section>
        <div class="container-fluid">
            <div id="well" class="wedding">
                <div class="well centered bloc-wedding">
                    <h3>{{ 'heavy.wedding.forfaitcortege'| trans }}</h3>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-offset-6">
                        <label class="checkbox">
                            <input onclick="verif(this)" type="checkbox" name="cortege6" value="choixCortege" id="cortege_6p"> 6 personnes <br />
                            <input onclick="verif(this)" type="checkbox" name="cortege9" value="choixCortege" id="cortege_9p"> 9 personnes <br />
                            <input onclick="verif(this)" type="checkbox" name="cortege12" value="choixCortege" id="cortege_12p"> 12 personnes
                        </label>
                    </div>
                    <div id="1" class="off">
                        {{ include ('frontend/car/form__car__available.html.twig') }}

                        {{ include ('frontend/car/list__cars.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function verif ()
        {
            var cortege1 = document.getElementById('cortege_6p').checked;
            var cortege2 = document.getElementById('cortege_9p').checked;
            var cortege3 = document.getElementById('cortege_12p').checked;

            if (cortege1 || cortege2 || cortege3) {
                document.getElementById('1').className = 'on';
            } else {
                document.getElementById('1').className = 'off';
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $(".form-loader").show();

            $("form[name='form']").submit(function (e) {
                e.preventDefault();
                $(".form-loader").show();

                var formData = $("form[name='form']").serialize();

                console.log($(".form-loader"));

                /*$.ajax({
                    type: "GET",
                    url: "wedding",
                    cache: false,
                    data: formData,
                    success: function(data){
                        $('#grid-view').html(data);
                        $(".form-loader").hide();
                    },
                    error: function(data) {
                        $('#grid-view').html("Une erreur est survenue.");
                        $(".form-loader").hide();
                    }
                });*/

            });
        });

    </script>
{% endblock %}