<footer class="text-center footer">
    <div class="footer-above">
<div class="container-fluid">
    <div class="row">
                <div class="col-sm-4 text-center">
                    <h2><span itemprop="name">HEAVY-DRIVE</span></h2>
                    <div class="logo_header" style="width: 33%;     margin-left: 31%;">
                        <ul>
                            <li><a  href="{{ path('homepage') }}"><img src="{{ asset('images/logohd.ico') }}"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <h2><span itemprop="name">ACCÈS RAPIDE</span></h2>
                    <div class="col-sm-11 text-center">
                        <ul>
                            <li><a href="#about_us">Qui Sommes Nous ?</a></li>
                            <li><a href="{{ path('car') }}">Nos Véhicules</a></li>
                            <li><a href="{{ path('service') }}">Nos Services</a></li>
                            <li><a href="{{ path('faq') }}">FAQ</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-sm-4 text-center">
                    <h2><span itemprop="name">NOUS CONTACTER</span></h2>
                    <div itemscope="" itemtype="http://schema.org/Person">
                        <h5> 43, Avenue de l'Europe <br>Domont, 95330<br></h5>
                        <h5><i class="fa fa-phone"></i>
                            <abbr title="Phone">INFOLINE</abbr>: 06 63 97 50 51</h5>
                        <h5><a href="mailto:contact@heavy-drive.com">contact@heavy-drive.com</a></h5>
                        </h5>
                        <h5><i class="fa fa-clock-o"></i>
                            <abbr title="Hours">Horaire</abbr>: lundi - samedi: 9h30 -
                            18h00 </h5>
                    </div>
                    <li><a href="{{ path('contact') }}">Contactez nous</a></li>
                </div>
    </div>
</div>

    </div>
</footer>