<footer class="text-center footer">
    <div class="footer-above">
<div class="container-fluid">
    <div class="row">
                <div class="col-sm-4 text-center">
                    <h2><span itemprop="name">Heavy-Drive</span></h2>
                    <div class="logo_header" style="width: 33%;     margin-left: 31%;">
                        <ul>
                            <li><a  href="{{ path('homepage') }}"><img src="{{ asset('images/logohd.ico') }}"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <h2><span itemprop="name">Accès rapide</span></h2>
                    <ul>
                        <li><a href="#about_us">L'entreprise</a></li>
                        <li><a href="{{ path('car') }}">Nos voitures</a></li>
                        <li><a href="{{ path('service') }}">Nos services</a></li>
                        <li><a href="{{ path('faq') }}">FAQ</a></li>
                    </ul>

                </div>
                <div class="col-sm-4 text-center">
                    <h2><span itemprop="name">Contact Détails</span></h2>
                    <div itemscope="" itemtype="http://schema.org/Person">
                        <h5> 15 rue de la briquetterie<br>Domont, 95330<br></h5>
                        <h5><i class="fa fa-phone"></i>
                            <abbr title="Phone">Téléphone</abbr>: 06 63 97 50 51</h5>
                        <h5><i class="fa fa-envelope-o"></i>
                            <abbr title="Email">E-mail</abbr>: <a href="">contact@heavy-drive.com</a>
                        </h5>
                        <h5><i class="fa fa-clock-o"></i>
                            <abbr title="Hours">Horraire</abbr>: lundi - samedi: 9h30 -
                            18h00 </h5>
                    </div>
                    <li><a href="{{ path('contact') }}">Contactez nous</a></li>
                </div>
    </div>
</div>

    </div>
</footer>