{% extends "frontend/base.html.twig" %}
{% block body %}
    {% set dateStart = date(app.request.query.get('dateStart')) %}
    {% set dateEnd = date(app.request.query.get('dateEnd')) %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div id="myCarousel" class="carousel  slide">
                    <!-- Items -->
                    <div class="carousel-inner">
                        <div class="active item">  <img src="{{ car.pictures|first }}" class="img-responsive"></div>
                    </div>
                </div>
            </div>

            <div class="bs-five-area bs-radius" >
                <div class="col-lg-4  ">
                    <div class="bs-five">
                        <h2>{{ car.carLabel }}</h2>
                        <h3><b>Tarifs selon nos prestations</b></h3>
                        <ul class="tarif_prestation">
                            {% for price in priceCar %}
                                <li>
                                    <p> {{ price.service.name }} : {{ price.toPay }} </p>
                                    <a href="{{ path('reservation', {'id': price.service.id, 'dateStart': dateStart|date('Y-m-d H:i:s'), 'dateEnd': dateEnd|date('Y-m-d H:i:s') }) }}">Réserver</a>
                                </li>
                            {% endfor %}
                        </ul>
                         <a href="#details-technique" class="btn btn-success">Fiche technique</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="">
        {% for picture in car.pictures %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#">
                    <img class="img-responsive img-hover" src={{ picture }} alt="">
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="">
        <div class="col-lg-12 details_techniques" id="details-technique">
            <h2 class="centered">Fiche technique</h2>
            <hr class="star-light">
        </div>
        <div class="container">
            <div class="col-md-4">
                <div class="panel panel-info infos-car">
                    <div class="panel-heading infos_moteur">
                        <h1 class="panel-title centered">Véhicule</h1>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-inverse" cellspacing="0" width="50%">
                            <tbody>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.car_type'|trans }} </th>
                                <td> {{ car.car_type }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.car_energy_type'|trans }} </th>
                                <td> {{ car.car_energy_type }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.car_maker'|trans }} </th>
                                <td> {{ car.car_maker }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.car_model'|trans }} </th>
                                <td> {{ car.car_model }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info infos-car">
                    <div class="panel-heading infos_transmission">
                        <h2 class="panel-title centered">Transmission</h2>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-inverse" cellspacing="0" width="50%">
                            <tbody>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.transmission'|trans }} </th>
                                <td> {{ car.transmission }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.options'|trans }} </th>
                                <td> {{ car.options }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info infos-car">
                    <div class="panel-heading infos_performance">
                        <h2 class="panel-title centered">Caractéristiques</h2>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-inverse" cellspacing="0" width="50%">
                            <tbody>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.interior_color'|trans }} </th>
                                <td> {{ car.interior_color }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.exterior_color'|trans }} </th>
                                <td> {{ car.exterior_color }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.passenger_capacity'|trans }} </th>
                                <td> {{ car.passenger_capacity }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.doors'|trans }} </th>
                                <td> {{ car.doors }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}