{% extends "frontend/base.html.twig" %}
{% block title %}Heavy-Drive - Découvrez nos voitures en photos et leurs caractéristiques {% endblock %}
{% block body %}
    {% set dateStart = date(app.request.query.get('dateStart')) %}
    {% set dateEnd = date(app.request.query.get('dateEnd')) %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div id="myCarousel" class="carousel  slide">
                    <!-- Items -->
                    <div class="carousel-inner">
                        <div class="active item">  <img src="{{ car.pictures|first }}" class="img-responsive"></div>
                    </div>
                </div>
            </div>

            <div class="bs-five-area bs-radius" >
                <div class="col-lg-4  ">
                    <div class="bs-five">
                        <h1>{{ car.carLabel }}</h1>
                        <h2><b>Tarifs selon nos prestations</b></h2>
                        <ul class="tarif_prestation">
                            {% for price in priceCar %}
                                <li>
                                    <p> {{ price.service.name }} : {{ price.toPay }} €</p>
                                    <!-- <a href="{{ path('reservation', {'id': price.service.id, 'dateStart': dateStart|date('Y-m-d H:i:s'), 'dateEnd': dateEnd|date('Y-m-d H:i:s') }) }}">Réserver</a> -->
                                </li>
                            {% endfor %}
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#contactModal" data-whatever="@mdo">Faire une demande</button><br>
                        </ul>

                         <a href="#details-technique" class="btn btn-default">Voir fiche technique</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="">      
        {% for picture in car.pictures %}
            {% if not loop.first %}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                        <img class="img-responsive img-hover" src={{ picture }} alt="{{car.carMaker}}-{{car.carModel}}">
                    </a>
                </div>
            {% endif %}

        {% endfor %}
    </div>

    <div class="">
        <div class="col-lg-12 details_techniques" id="details-technique">
            <!-- Bouton modal -->

            <!-- Modal -->
            <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="contactModalLabel">Demande de réservation</h4>
                        </div>
                        <div class="modal-body">
                            {{ form_start(form) }}
                                <div class="form-group">
                                    <label for="name" class="control-label">Nom, prénom</label>
                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control input-md'} } ) }}
                                    {{ form_errors(form.name) }}
                                </div>
                                <div class="form-group">
                                    <label for="mail" class="control-label">Email</label>
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control input-md'} } ) }}
                                    {{ form_errors(form.email) }}
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="control-label">Mobile</label>
                                    {{ form_widget(form.phone, { 'attr': {'class': 'form-control input-md'} } ) }}
                                    {{ form_errors(form.phone) }}
                                </div>
                                    <div class="form-group">
                                    <label for="subject" class="control-label">Sujet</label>
                                    {{ form_widget(form.subject, { 'attr': {'class': 'form-control input-md'} } ) }}
                                    {{ form_errors(form.subject) }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Message</label>
                                    {{ form_widget(form.message, { 'attr': {'class': 'form-control input-md'} } ) }}
                                    {{ form_errors(form.message) }}
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            {{ form_rest(form) }}
                            <input type="submit" value="Submit" class="btn btn-default" />
                            {% for flashMessage in app.session.flashbag.get('notice-car') %}
                                <div class="flash-notice">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="centered">Fiche technique</h2>
            <hr class="star-light">
        </div>
        <div class="container">
            <div class="col-md-4">
                <div class="panel panel-info infos-car">
                    <div class="panel-heading infos_moteur">
                        <h1 class="panel-title centered">Véhicule</h1>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-inverse" cellspacing="0" width="50%">
                            <tbody>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.car_type'|trans }} </th>
                                <td> {{ car.carType }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.car_energy_type'|trans }} </th>
                                <td> {{ car.carEnergyType }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.car_maker'|trans }} </th>
                                <td> {{ car.carMaker }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.car_model'|trans }} </th>
                                <td> {{ car.carModel }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info infos-car">
                    <div class="panel-heading infos_transmission">
                        <h2 class="panel-title centered">Transmission</h2>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-inverse" cellspacing="0" width="50%">
                            <tbody>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.transmission'|trans }} </th>
                                <td> {{ car.transmission }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.options'|trans }} </th>
                                <td> {{ car.options }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info infos-car">
                    <div class="panel-heading infos_performance">
                        <h2 class="panel-title centered">Caractéristiques</h2>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-inverse" cellspacing="0" width="50%">
                            <tbody>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.interior_color'|trans }} </th>
                                <td> {{ car.interiorColor }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.exterior_color'|trans }} </th>
                                <td> {{ car.exteriorColor }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.passenger_capacity'|trans }} </th>
                                <td> {{ car.passengerCapacity }} passagers</td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.doors'|trans }} </th>
                                <td> {{ car.doors }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
