{% extends "frontend/base.html.twig" %}
{% block title %}Heavy-Drive - Découvrez nos voitures en photos et leurs caractéristiques {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div id="myCarousel" class="carousel  slide">
                    <!-- Items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <!--<img src="{{ car.pictures|first }}" class="img-responsive">-->
                            <img src="https://storage.gra3.cloud.ovh.net/v1/AUTH_6729d1b5e1244b699d7f372ca10dd650/cars/cayenne_profil_avant_gauche.png" alt="{{ car.carMaker }}-{{ car.carModel }}">

                        </div>
                    </div>
                </div>
            </div>
            <div class="bs-five-area bs-radius" >
                <div class="col-lg-4  ">
                    <div class="bs-five">
                        <h1>{{ car.carLabel }}</h1>
                        <h2><b>Prix de la réservation</b></h2>
                        <ul class="tarif_prestation">
                            <li>
                                <p><strong>Du {{ dateStart|date('d-m-Y') }} au {{ dateEnd|date('d-m-Y') }}</strong></p>
                                <p>Prix de la caution : {{ caution }} €</p>
                                <h3> {{ price }} €</h3>
                                <a href="{{ path('reservation') }}" class="btn btn-primary">Faire une réservation</a>
                            </li>
                            <li>
                                <a href="#details-technique" class="btn btn-primary">Voir fiche technique</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="">      
        {% for picture in car.pictures %}
            {% if not loop.first %}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                        <img class="img-responsive img-hover" src={{ picture }} alt="{{car.carMaker}}-{{car.carModel}}">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="">
        <div class="col-lg-12 details_techniques" id="details-technique">
            <h2 class="centered">Fiche technique</h2>
            <hr class="star-light">
        </div>
        <div class="container">
            <div class="col-md-4">
                <div class="panel panel-info infos-car">
                    <div class="panel-heading infos_moteur">
                        <h1 class="panel-title centered">Véhicule</h1>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-inverse" cellspacing="0" width="50%">
                            <tbody>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.car_type'|trans }} </th>
                                <td> {{ car.carType }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.car_energy_type'|trans }} </th>
                                <td> {{ car.carEnergyType }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.car_maker'|trans }} </th>
                                <td> {{ car.carMaker }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.car_model'|trans }} </th>
                                <td> {{ car.carModel }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info infos-car">
                    <div class="panel-heading infos_transmission">
                        <h2 class="panel-title centered">Transmission</h2>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-inverse" cellspacing="0" width="50%">
                            <tbody>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.transmission'|trans }} </th>
                                <td> {{ car.transmission }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.options'|trans }} </th>
                                <td> {{ car.options }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info infos-car">
                    <div class="panel-heading infos_performance">
                        <h2 class="panel-title centered">Caractéristiques</h2>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-inverse" cellspacing="0" width="50%">
                            <tbody>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.interior_color'|trans }} </th>
                                <td> {{ car.interiorColor }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.exterior_color'|trans }} </th>
                                <td> {{ car.exteriorColor }} </td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.passenger_capacity'|trans }} </th>
                                <td> {{ car.passengerCapacity }} passagers</td>
                            </tr>
                            <tr>
                                <th> {{ 'heavy.cars.characteristics.doors'|trans }} </th>
                                <td> {{ car.doors }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
