<!-- Page Content -->
{% import 'frontend/car/macros.html.twig' as car_macro %}
<div class="container">
    <!-- Page Features -->
    <div class="row text-center">
        {% for car in cars %}

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="https://storage.gra3.cloud.ovh.net/v1/AUTH_6729d1b5e1244b699d7f372ca10dd650/cars/cayenne_profil_avant_gauche.png" alt="{{ car.carMaker }}-{{ car.carModel }}">
                    <div class="panel-body">
                        <h2>{{ (car.carLabel) }}</h2>
                        <p> Place assises : {{ car.passengerCapacity }}</p>
                        <p>Agence : Domont</p>
                        <p> {{ price.toPay }}</p>

                    </div>
                    <div class="panel-footer">
                        <a href="{{ path('car_details', {'id': car.id, 'mark': car.carMaker, 'model': car.carModel}) }}" class="btn btn-default">Détails et tarifs</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>