{% extends "frontend/base.html.twig" %}
{% block title %}Heavy-Drive - Profitez d'une gamme variée de voitures de luxe en killométrage illimitée{% endblock %}
{% block body %}
    <div class="container form-date">
        <h1 class="centered">{{ 'heavy.cars.selection'|trans }}</h1>
        <hr class="star-light">

        <div class="well text-center cadre">
            {{ form_start(form) }}
            <div class="col-md-12 field-agency centered">
                <label class="col-md-2 control-label l1" for="location">Agence de départ</label>
                <div class="col-md-3">
                    <div class='input-group'>
                        {{ form_widget(form.agency, { 'attr': {'class': 'form-control input-md'} }) }}
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </span>
                    </div>
                </div>
                <label class="col-md-2 control-label l1" for="location">Agence de retour</label>
                <div class="col-md-3">
                    <div class='input-group'>
                        {{ form_widget(form.agencyRetour, { 'attr': {'class': 'form-control input-md'} } ) }}
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </span>
                    </div>
                </div>
            </div>
            <br>

            <div class="col-md-12 field-date">
                <label class="col-md-2 control-label l1" for="location">Départ le :</label>
                <div class="col-md-3">
                    <div class='input-group date' id='js-datepicker1'>
                        {{ form_widget(form.startDate) }}
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
                <label class="col-md-2 control-label l1" for="location">Retour le :</label>
                <div class="col-md-3">
                    <div class='input-group date' id='js-datepicker2'>
                        {{ form_widget(form.endDate) }}
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}<br>
            {% for flashMessage in app.session.flashbag.get('notice-dateWeek') %}
                <div class="flash-notice">
                    <div class="alert alert-danger" role="alert">
                        {{ flashMessage }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ include ('frontend/car/list__cars.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/locale/fr.js"></script>

    <script>
        jQuery(function () {
            jQuery('#js-datepicker1').datetimepicker({format: 'DD-MM-YYYY HH:mm:ss', locale: 'fr', daysOfWeekDisabled: [0]});
            jQuery('#js-datepicker2').datetimepicker({format: 'DD-MM-YYYY HH:mm:ss', locale: 'fr'});
        });
    </script>

{% endblock %}